@font-face {
    font-family: 'sinkin_sans200_x_light';
    src: url('../fonts/SinkinSans-200XLight-webfont.eot');
    src: url('../fonts/SinkinSans-200XLight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SinkinSans-200XLight-webfont.woff') format('woff'),
         url('../fonts/SinkinSans-200XLight-webfont.ttf') format('truetype'),
         url('../fonts/SinkinSans-200XLight-webfont.svg#sinkin_sans200_x_light') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sinkin_sans300_light';
    src: url('../fonts/SinkinSans-300Light-webfont.eot');
    src: url('../fonts/SinkinSans-300Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SinkinSans-300Light-webfont.woff') format('woff'),
         url('../fonts/SinkinSans-300Light-webfont.ttf') format('truetype'),
         url('../fonts/SinkinSans-300Light-webfont.svg#sinkin_sans300_light') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sinkin_sans400_regular';
    src: url('../fonts/SinkinSans-400Regular-webfont.eot');
    src: url('../fonts/SinkinSans-400Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SinkinSans-400Regular-webfont.woff') format('woff'),
         url('../fonts/SinkinSans-400Regular-webfont.ttf') format('truetype'),
         url('../fonts/SinkinSans-400Regular-webfont.svg#sinkin_sans400_regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sinkin_sans600_semibold';
    src: url('../fonts/SinkinSans-600SemiBold-webfont.eot');
    src: url('../fonts/SinkinSans-600SemiBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SinkinSans-600SemiBold-webfont.woff') format('woff'),
         url('../fonts/SinkinSans-600SemiBold-webfont.ttf') format('truetype'),
         url('../fonts/SinkinSans-600SemiBold-webfont.svg#sinkin_sans600_semibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sinkin_sans700_bold';
    src: url('../fonts/SinkinSans-700Bold-webfont.eot');
    src: url('../fonts/SinkinSans-700Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SinkinSans-700Bold-webfont.woff') format('woff'),
         url('../fonts/SinkinSans-700Bold-webfont.ttf') format('truetype'),
         url('../fonts/SinkinSans-700Bold-webfont.svg#sinkin_sans700_bold') format('svg');
    font-weight: normal;
    font-style: normal;

}


/*body {
	background-color: #B5B5B5;
}*/

/*header nav{
	background-color: #FFF;
}*/

/*Logo*/
/*img {
	height: 100px;
	width: 100px;
	float: left;
}*/

/*/Menu header*/
/*#menu {
	float:right
}

#menu ul {
	padding: 0px;
	margin: 0px;
	background-color: #EDEDED;
	list-style: none;
}

#menu ul li {
	display: inline;
}

#menu ul li a {
	padding: 2px;
	display: inline-block;
	
	background-color: #EDEDED;
	color: #333;
	text-decoration: none;
	border-bottom: 3px solid #EDEDED;
}

#menu ul li a:hover {
	background-color: #D6D6D6;
	color: #6D6D6D;
	border-bottom: 3px solid #EA0000;
}*/

body {
    font-family: 'sinkin_sans300_light', serif;
}

/* Titulagem */
h1, h2, h3, h4, h5, h6 {
    font-family: 'sinkin_sans600_semibold', serif;
}

h1 { padding: 10px 0 14px; }

h2 { padding: 23px 0 7px; }

h3 { padding: 27px 0 11px; }

h4 { padding: 33px 0 23px; }

h5 { padding: 6px 0 22px; }

h6 { padding: 13px 0 4px; }

h1, h2 {
    letter-spacing: -0.006em;
    word-spacing: -0.05em;
}


p, li, dt, dd, th, td, caption {
    font-size: 1.5em;
    line-height: 30px;
}

p, ul, ol, dl { padding: 7px 0 23px; }

ul, ol {
    padding-right: 0;
    padding-left: 3.9em;
}

dl {
    padding-right: 0;
    padding-left: 2.4em;
}

.text-small h1,
.text-small h2,
.text-small h3,
.text-small h4,
.text-small h5,
.text-small h6 {
    padding: 3px 0 0;
}

.text-small p {
    padding: 7px 0 17px;
}

.nav-inline li a {
    font-size: 1.2em;
    font-weight: 700;
}

.btn-basic,
.btn-basic:visited,
input[type="submit"] {
    margin: 0.5em 0;
}

section header h2 {
    color: #C5CDCD;
    font-size: 20px;
    padding: 15px 0 0 0;
    min-height: 60px;
    text-transform: uppercase;
}

/*header*/
.header-frame  {
    background-color: #3498db;
    position: fixed;
    background-color: #FFFFFF;
}

.header-frame-absolute {
    width: 100%;
    /*position: absolute;*/
    z-index: 1000;
    /*background-color: #FFFFFF; cor antes da transição*/
    transition: padding 1s, background-color 1s;
}

.header-frame-fixed {
    /*position: fixed;
    background-color: #FFFFFF;#3498db;*/  /*cor após transição*/
}

.site-logo h1 a {
    line-height: 200px;
    width: 131px;
    height: 55px;
    margin: 1px 0 0 -9px;
    padding: 0;
    display: block;
    overflow: hidden;
    background: rgba(0, 0, 0, 0) url("../img/logo.png") no-repeat scroll left bottom;
}

@media all and (min-width:900px) {

    .nav-inline li a {
        color: #202020;
    }
    .header-inline .nav-inline li {
        margin: 0 0 0 3.5em;
    }
    .header-frame-absolute .nav-inline li a:hover { color: #fcd307;}
    .header-frame-fixed .nav-inline li a:hover { color: #333333;}

}

@media all and (max-width:900px) {

    .nav-mobile {
        color: #ffffff;
    }

    .header-inline .nav-inline {
        background: transparent;
    }
    .header-inline .nav-inline:hover {
        background: #ffffff;
    }

}

#top, #register {
	color: #fff;
}

#top {
	display: table;
	width: 100%;
	max-height: auto;
	height: 600px;
	background: rgb(52,152,219) bottom center no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.countdown h1 {
	font-family: "Economica";
	font-size: 60px;
	font-weight: 300px;
	line-height: 60px;
	padding-top: 300px;
}

.countdown h3 {
    font-family: "sinkin_sans600_semibold";
    font-size: 25px;
    font-weight: 400;
    padding-top: 0;
}

.overview .fa {
	color: #3498db;
	padding-top: 5px;
	min-height: 55px;
}

.overview h2 {
	font-family: "sinkin_sans600_semibold";
	font-size: 25px;
	line-height: 1em;
	text-transform: uppercase;
	min-height: 64px;
	padding-top: 10px;
	padding-bottom: 0; 
}

.overview p {
	font-size: 16px;
}

.services h2, .services h3 {
    text-transform: uppercase;
}

.services h3 {
    color: #999999;
    font-family: "sinkin_sans600_semibold";
    font-size: 20px;
    text-transform: uppercase;
    padding: 0 0 11px;
    min-height: 60px;
}

#venue {
	position: relative;
	background-color: #000;
}

.venu-address {
	min-height: 300px;
	background: rgba(52, 152, 219, 0.85) none repeat scroll 0 0	
}

.venu-address .address {
	padding-left: 30px;
	position: relative;
}

.venu-address .address .fa{
	position: absolute;
	left: 0;
}

#menu_header{
    padding: 0;
    font-family: "serif";
    font-size: 10px;
    color: #ffff90;
}

a{
    text-decoration: underline;
}

a:link{
    color:#FFFFFF;
}

a:visited{
    color: #202020;
}

a:hover{
    color: #fcd307;
}